<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= "#{@user.name}" %></h1>
    <p>
      Please add TFN (Tax File Number). If  You have not add TFN then you will pay higher tax,
      so add TFN to your listing.<br>
    </p>    
  </body>
</html>
