<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table style="width: 500px; padding-left: 80px;">
      <tr>
        <td>&nbsp;&nbsp;</td>
      </tr>
      <tr>
        <td>
          <% if Rails.env == "staging" %>
            <%= image_tag "https://staging.sparestaff.com.au/assets/Spare-Staff-130x130.png", width: "60", height: "60", alt: "" %>
          <% else %>
            <%= image_tag "https://sparestaff.com.au/assets/Spare-Staff-130x130.png", width: "60", height: "60", alt: "" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><br />
        <h2>Don't forget to add TFN and Photo ID</h2>
        Great work for creating your new employee listing. We noticed that you
        have not added TFN (Tax File Number) or Photo ID of the employee.<br />
        <br />
        Having TFN and Photo ID handy help gaining trust from Hirers. It is also
        a legal obligation for employers to check new employee's work rights
        before hiring.<br />
        <br />
        Without a TFN, the employee will have to pay higher tax. Without a valid
        Photo ID, your employee listing will not show up in search results.<br />
        <br />
        <a href="<%= edit_employee_url(@listing.id) %>">
        Add TFN &amp; Photo ID</a><br />

        <br />
        Many thanks.<br />

        <br />
        <br />
        The Spare Staff Team <br />
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
