<div class="search-box">
  <h1 class="search-heading">Find employees</h1>

  <div class="form-box">
      <div class="search-form">
        <%= text_field_tag "Text1", "", placeholder: "Enter keywords", class: 'enter-keyword' %>
        <%= select_tag "Select1", options_for_select([["Any classification"], ["Accounting"], ["All Accounting"], ["Accounts Officers/Clerks"], ["Accounts Payable"]], ["Any classification"]), include_blank: "", class: 'select-field' %>
        <%= text_field_tag "Text2", "", placeholder: "Enter suburb, city, or region", class: 'location-field' %>
        <%= link_to "Search", "#", class: "search-btn" %>
      </div>
  </div>

</div>