<tr>
  <td>
    <h1 style="padding-top:15px">How it works</h1>
    <table style="width: 90%">
      <tr>
        <td>
          <%= image_tag "how-it-works-1.jpg", alt: "", class: "Image300px" %>
        </td>
        <td>
          <%= image_tag "how-it-works-2.jpg", alt: "", class: "Image300px" %>
        </td>
        <td>
          <%= image_tag "how-it-works-3.jpg", alt: "", class: "Image300px" %>
        </td>
      </tr>
      <tr>
        <td style="text-align: center; width: 33%">
          <table style="width: 100%">
            <tr>
              <td valign="top"><span class="HowItWorksNumber">1</span></td>
              <td style="text-align: left" class="Padding10PxLeft30pxRight "><strong>
                <br />
                It's FREE 
                to list an employee</strong><br />
                As a company, you can list your employee for 
                sharing. As a job seeker, you can list yourself 
                for hiring.
              </td>
            </tr>
          </table>
        </td>
        <td style="text-align: center; width: 33%">
          <table style="width: 100%">
            <tr>
              <td valign="top"><span class="HowItWorksNumber">2</span></td>
              <td style="text-align: left" class="Padding10PxLeft30pxRight">
                <strong><br />
                Get your employee ready for work</strong><br />
                Discuss with 
                Hirer through our 
                messaging platform. Provide further details if 
                requested.
              </td>
            </tr>
          </table>
        </td>
        <td style="text-align: center; width: 33%">
          <table style="width: 100%">
            <tr>
              <td valign="top"><span class="HowItWorksNumber">3</span></td>
              <td style="text-align: left" class="Padding10PxLeft30pxRight">
                <strong><br />
                Get paid</strong><br />
                Our secure payment system let you
                get paid automatically after employment starts.
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </td>
</tr>
