<tr>
  <td>
    <table style="width: 100%; background-color: #F15927;">
      <tr>
        <td style="text-align: center">
          &nbsp;<br />
          &nbsp;<br />
          &nbsp;<br />
          <span style="color: #FFFFFF; font-size:18pt">Employee Sharing &amp; Hiring Made Easy</span><br />
          <br />
          <table class="HomeButton" align="center">
            <tr>
              <td>
                <%= link_to "List an Employee", "#", style: "text-decoration: none;" %>
                <!-- <a href="list-an-employee/list-an-employee-intro.html" style="text-decoration:none">List an Employee</a> -->
              </td>
            </tr>
          </table>
          &nbsp;<br />
          &nbsp;<br />
          &nbsp; 
        </td>
      </tr>
    </table>
  </td>
</tr>
