<tr>
  <td>
    <h1 style="padding-top:15px">Easy employee sharing &amp; hiring 
      at the click of a mouse
    </h1>
    <table style="width: 90%">
      <tr>
        <td style="text-align: center">
          <%= image_tag "dollar.jpg", alt: "", class: "Image200px" %>
        </td>
        <td style="text-align: center">
          <%= image_tag "tie.jpg", alt: "", class: "Image200px" %>
        </td>
        <td style="text-align: center">
          <%= image_tag "happy.jpg", alt: "", class: "Image200px" %>
        </td>
        <td style="text-align: center">
          <%= image_tag "reference.jpg", alt: "", class: "Image200px" %>
        </td>
      </tr>
      <tr>
        <td style="text-align: center; width: 25%">&nbsp;<br />
          Reduce financial pressure <br />
          due to overstaffing
        </td>
        <td style="text-align: center; width: 25%">&nbsp;<br />
          Hire experienced employees for short or long term 
          contracts
        </td>
        <td style="text-align: center; width: 25%">&nbsp;<br />
          Keep good employees by<br />
          giving him enough hours
        </td>
        <td style="text-align: center; width: 25%">&nbsp;<br />
          Employees get more<br />
          references for their CVs
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
