<div class="roster-popup roster_popup_customize" data-popup="activate-roster-popup">
  <div class="roster-popup-inner Width700Px roster_popup_customize-inner show_hiring_details">
    <div class="show_hiring_details_row">
      <div class="OrderListingTitle">Activate roster #3</div>
    </div>

    <div id="activate-roster" class="FullWidth">
      <br />
      <div id="activate-roster3" class="FullWidth">
        <div class="FloatLeft">
          <span class="TextStrong">26-Feb-2019 to 04-Mar-2019</span><br />
          <span class="PaddingTop10px" style="display:inline-block">
          Mon 09:00 - 12:00, Tue 15:00 - 17:00, Sat 12:00 - 16:00</span>
        </div>
        <br /><br /><br /><br />
        <span class="Text22px">$371.00</span><br />
        $0.00 available from escrow. $371.00 from MasterCard ending in 3456.<br /><br />
        <span class="TextGrey">Your payment method will be charged for this roster. Funds are held securely in escrow until you approve the Employee's work.</span>
        <br />
        <br />
        <div class="GreyLine1Px"></div>
      </div>
    </div>

    <div class="show_hiring_details_row">
      <span></span>
      <div class="">
        <div class="ButtonOrangeHeight40px FloatRight"><a href="#" style="color:white" data-popup-close="activate-roster-popup" onclick="hide('InactiveLabel'); hide('ActivateButton'); hide('EscrowZeroLabel'); hide('NotFundedLabel'); show('ActiveLabel'); show('PayNowButton'); show('EscrowDepositedLabel'); show('FundedLabel'); ">Activate &amp; Fund</a> 
        </div>
        <div class="FloatRight MarginRight40Px" style="vertical-align:middle" data-popup-close="activate-roster-popup"><a href="#" class="comman_link" style="line-height:40px">Cancel</a></div>
      </div>
    </div>
  </div>
</div>
