<div class="circumstance-box">
  <div class="affect-poster">
    <span class="sub-title"><strong>Extenuating circumstances require documentation and include:</strong></span><br>
    <ul>
      <li>Serious illness</li>
      <li>Death of a family member</li>
      <li>Jury duty or other civil obligation</li>
      <li>Natural disaster</li>
      <li>Political unrest</li>
    </ul>
    If you have documentation, you may be eligible for a bigger
    refund. You can apply after you've cancelled.
  </div>
  <%= render partial: "hirings/my_mistake" %>
</div>