<div class="roster-popup roster_popup_customize" data-popup="completed-roster-popup">
  <div class="roster-popup-inner Width750Px roster_popup_customize-inner show_hiring_details">
    <div class="show_hiring_details_row">
      <div class="OrderListingTitle">Completed roster</div>
    </div>
    <div id="completed-roster" class="FullWidth DisplayInlineBlock">
      <br />
      <div id="completed-roster1" class="FullWidth">
        <div class="Width175Px FloatLeft TextStrong">Roster #1</div>
        <div class="FloatLeft">
          <span class="TextStrong">12-Feb-2019 to 18-Feb-2019</span><br />
          <span class="PaddingTop10px" style="display:inline-block">
          Mon 09:00 - 12:00, Tue 15:00 - 17:00, Sat 12:00 - 16:00</span>
        </div>
        <br /><br /><br /><br />
        <div class="Width175Px FloatLeft TextStrong">Status</div>
        <div class="FloatLeft">Paid</div>
        <br /><br />
        <div class="Width175Px FloatLeft TextStrong">Amount in escrow</div>
        <div class="FloatLeft">$371.00 total<br />including $371.00 paid from MasterCard ending in 3456 on 11 Feb 2020</div>
        <br /><br /><br />
        <div class="Width175Px FloatLeft TextStrong">Amount released</div>
        <div class="FloatLeft">$371.00 released to Poster on 19 Jun 2020</div>
        <br />
        <br />
        <div class="GreyLine1Px"></div>
      </div>
    </div>
    <div class="show_hiring_details_row">
      <span></span>
      <div class="">
        <div class="ButtonOrangeHeight40px FloatRight"><a href="#" class="comman_link" data-popup-close="completed-roster-popup">Close</a> 
      </div>
    </div>
    </div>
  </div>
</div>