<div id="DefaultRosterInfo" class="admin_fee_info_box">
  Default roster is used as roster whenever you add a new roster
  so that you don't need to select day and time again. You can edit this
  default roster.<br><br>
  Editing default roster will not change any existing
  roster.<br>
  <a class="FloatRight close_link" onclick="toggle_visibility('DefaultRosterInfo');">close</a>
</div>