<div class="employee-changed">
  <div class="affect-poster">
    <div class="poster-text">Try asking Poster if you can change the hiring contract.</div>
    <div><strong>Instead of cancelling:</strong></div>

    <%= link_to 'Change Your Hiring', change_hiring_hiring_path(id: @transaction.id), class: 'continue-btn' %>
  </div>
</div>
