<div class="hire_an_employee_box">
  <%= form_tag cancel_hiring_hiring_path(id: @transaction.id), method: :patch, id: "cancellation_reason_form" do |f| %>

    <div class="my-mistake">
      <div class="title-main">Your Refund Summary</div>
      <div><b>This listing has cancellation policy</b></div>

      <div class="under-title">If you cancel now, you'll receive a full refund, minus Spare Staff service fees.</div>

      <div class="calculation-list">
        <div class="list-item">
          <div class="left-item">
            Total Fee
          </div>
          <div class="right-item">
            $382.13
          </div>
        </div>
        <div class="list-item">
          <div class="left-item">
            Service fee
          </div>
          <div class="right-item">
            -$11.13
          </div>
        </div>
        <div class="list-item grey-list-item">
          <div class="left-item">
            <strong>Your Total Refund</strong>
          </div>
          <div class="right-item">
            <strong>$371.00</strong>
          </div>
        </div>
      </div>

      <div class="custom-label">Tell PosterABC why you need to cancel</div>

      <%= text_area_tag "message_text" %>

      <%= submit_tag "Cancel Hiring", class: 'continue-btn' %>

      <div class="small-grey-text">Cancellation is effective immediately</div>
    </div>
  <% end %>
</div>