<div class="need-to-cancel">
  <div class="affect-poster">
    <strong>Request that your Poster cancel.</strong><br>
    <br>
    If your Poster let you know that his listed employee is not
    available anymore, don't cancel for him/her. Instead, send
    the Poster a message asking him/her to cancel to make sure you receive a
    full refund.

    <%= link_to 'Send message to Poster', '#', class: 'continue-btn' %>
  </div>
</div>
