<div class="roster-popup roster_popup_customize" data-popup="pay-now-popup">
  <div class="roster-popup-inner Width750Px roster_popup_customize-inner show_hiring_details">
    <div class="show_hiring_details_row">
      <div class="OrderListingTitle">Pay for Employee's work</div>
    </div>
    <div class="GreyLine1Px"></div>
    <div id="pay-roster" class="FullWidth DisplayInlineBlock">
      <br />
      <div id="pay-roster3" class="FullWidth">
        <div class="Width175Px FloatLeft TextStrong">Roster #3</div>
        <div class="FloatLeft">
          <span class="TextStrong">26-Feb-2019 to 04-Mar-2019</span><br />
          <span class="PaddingTop10px" style="display:inline-block">
          Mon 09:00 - 12:00, Tue 15:00 - 17:00, Sat 12:00 - 16:00</span>
        </div>
        <br /><br /><br /><br />
        <div class="Width175Px FloatLeft TextStrong">Status</div>
        <div class="FloatLeft">Active / Funded</div>
        <br /><br />
        <div class="Width175Px FloatLeft TextStrong VerticalAlignMiddle">Amount in escrow</div>
        <div class="FloatLeft">$371.00 total<br />including $371.00 paid from MasterCard ending in 3456 on 25 Feb 2020</div>
        <br /><br /><br />
        <span class="TextGrey">You may release payment for this roster if it has been completed to your satisfaction.</span>
        <br />
        <br />
        <div class="GreyLine1Px"></div>
      </div>
    </div>
    <div class="show_hiring_details_row">
      <span></span>
      <div class="">
        <div class="ButtonOrangeHeight40px FloatRight">
          <a href="#" style="color:white" data-popup-close="pay-now-popup" data-popup-open="pay-now-second-step-popup">Next</a> 
        </div>
        <div class="FloatRight MarginRight40Px" style="vertical-align:middle" data-popup-close="pay-now-popup">
          <a href="#" class="comman_link" style="line-height:40px">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>