<div class="roster-popup roster_popup_customize" data-popup="pay-now-second-step-popup">
  <div class="roster-popup-inner Width750Px  roster_popup_customize-inner show_hiring_details">
    <div class="show_hiring_details_row">
      <div class="OrderListingTitle">Pay for Employee's work</div>
    </div>
    <div class="GreyLine1Px"></div>
    <div id="pay-roster" class="FullWidth DisplayInlineBlock">
      <br />
      <div id="pay-roster3" class="FullWidth VerticalAlignMiddle">
        <br />
        <div class="Width175Px DisplayInlineBlock TextStrong">Release from escrow</div>
        <div class="DisplayInlineBlock VerticalAlignMiddle " id="EditReleaseTextBox">
          <div class="input-icon">
            <input type="text" class="Width150Px TextAllignRight" name="Price" value="371.00" />
            <i>$</i>
          </div>
        </div>
        <br />
        <br /><br />
        <div class="GreyLine1Px"></div>
      </div>
    </div>
    <div class="show_hiring_details_row">
      <span></span>
      <div class="">
        <div class="ButtonOrangeHeight40px FloatRight">
          <a href="#" style="color:white" data-popup-close="pay-now-second-step-popup" data-popup-open="pay-now-confirmation-popup">Send Payment</a> 
        </div>
        <div class="FloatRight MarginRight40Px" style="vertical-align:middle" data-popup-close="pay-now-second-step-popup" data-popup-open="pay-now-popup">
          <a href="#" class="comman_link" style="line-height:40px">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>