<div class="roster-popup roster_popup_customize" data-popup="pay-now-confirmation-popup">
  <div class="roster-popup-inner Width750Px roster_popup_customize-inner show_hiring_details">
    <div class="show_hiring_details_row">
      <div class="OrderListingTitle">Pay for Employee's work</div>
    </div>
    <div id="pay-roster" class="FullWidth DisplayInlineBlock">
      <br />
      <div id="pay-roster3" class="FullWidth VerticalAlignMiddle">
        <br />
        <div class="DisplayInlineBlock">Payment has been successfully released to PosterABC's account.<br />
          To continue hiring Cristiano Ronaldo, activate the next roster.
        </div>
        <br />
        <br /><br />
        <div class="GreyLine1Px"></div>
      </div>
    </div>
    <div class="show_hiring_details_row">
      <span></span>
      <div class="ButtonOrangeHeight40px FloatRight">
        <a href="#" style="color:white" data-popup-close="pay-now-confirmation-popup" onclick="show('InactiveLabel'); show('ActivateButton'); show('EscrowZeroLabel'); show('NotFundedLabel'); hide('ActiveLabel'); hide('PayNowButton'); hide('EscrowDepositedLabel'); hide('FundedLabel');" >Close</a> 
      </div>
    </div>
  </div>
</div>