<div class="search-name-title">
	<%= text_field_tag "q", params[:q], placeholder: "Search all hirings by name or job title", class: 'enter-keyword' %>
	<%= button_tag "Search", class: "search-btn" do %>
		<%= image_tag 'search-icon.png', alt: 'search', class: 'seacrh_png' %>
	<% end %>
</div>
