<div class="search-name-title">
	<%= text_field_tag "q", params[:q], placeholder: "Search all hirings by name or job title", class: 'enter-keyword' %>
	<%= submit_tag "Search", class: "search-btn" %>
</div>
