<div class="employee-changed">
  <div class="affect-poster">
    <div><strong>Try changing the reservation instead</strong></div>
    <div class="poster-text">Make changes to the reservation and ask hirer to approve them.</div>

    <%= link_to 'Change Reservation', change_reservation_reservation_path(id: @transaction.id), class: 'continue-btn' %>
  </div>
</div>
