<div class="reservation-action-box">
  <div class="left-action">
    <%= link_to '< Back', change_or_cancel_reservation_path(id: @transaction.id), class: 'orange-text' %>
  </div>
  <div class="right-action">
    <%= link_to 'Keep Reservation', reservations_path, class: 'modal-white-btn' %>
    <%= submit_tag 'Cancel Reservation', class: 'modal-orange-btn' %>
  </div>
</div>
