<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-au" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Employee hire request delined for EmployeeXYZ</title>
<link href="../sparestaff.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="Padding80px" style="width: 100%">
	<tr>
		<td>&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<td>
		<img alt="" class="LogoInEmail" src="../images/logo.png"/></td>
	</tr>
	<tr>
		<td><br />
		<h1>Your hire request is declined</h1>
		We are sorry to tell you that your request to hire is declined <br />
		<br />
		<table style="width: 500px">
			<tr>
				<td colspan="2"><table style="border:1px; border-style:solid; border-color:#E1E1E1;">
							<tr>
								<td style="padding:10px;">Hello James, sorry the 
								employee is away and unavailable to work during 
								the time you requested. I hope you will find 
								another one soon.</td>
							</tr>
						</table>
</td>
			</tr>
			<tr>
				<td style="width: 50%">&nbsp;</td>
				<td>
				&nbsp;</td>
			</tr>
			<tr>
				<td style="width: 50%">Cristiano Ronaldo<br />
				Experienced IT Engineer</td>
				<td>
				<img alt="" src="../images/luca.png" class="Image200pxRight" /></td>
			</tr>
			<tr>
				<td colspan="2">
				<br />
				<div class="GreyLine1Px"></div>				<br />
				</td>
			</tr>
			<tr>
				<td style="width: 300px"><strong>From</strong><br />
				Monday Feb 12, 2019</td>
				<td style="text-align: right"><strong>To</strong><br />
				Wednesday Apr 24, 2019</td>
			</tr>
			<tr>
				<td colspan="2"><br />
				<div class="GreyLine1Px"></div>				<br />
</td>
			</tr>
			<tr>
				<td colspan="2">
		<table style="width: 180px; height: 50px; background-color: #F15927" align="center">
			<tr>
				<td style="text-align: center">
				<a class="WhiteLink12pt" href="../user-hiring/user-declined-hiring-send-message.html">View Full Request</a></td>
			</tr>
		</table>
				</td>
			</tr>
			<tr>
				<td colspan="2"><br />
				<div class="GreyLine1Px"></div>				<br />
</td>
			</tr>
			<tr>
				<td style="width: 300px; height: 33px;">Total weekly payment</td>
				<td style="text-align: right; height: 33px;">$382.13</td>
			</tr>
			<tr>
				<td style="width: 300px; height: 33px;">Total employment 
				contract</td>
				<td style="text-align: right; height: 33px;">$4,001.55</td>
			</tr>
			<tr>
				<td colspan="2"><br />
				<div class="GreyLine1Px"></div>				<br />
</td>
			</tr>
			<tr>
				<td style="width: 300px">
				<h4>PosterABC is Poster</h4>
				Contact PosterABC for further questions.</td>
				<td>
				<img alt="" src="../images/zidane-profile.jpg" width="500" class="Image200pxRight" /></td>
			</tr>
			<tr>
				<td colspan="2"><br />
				<div class="GreyLine1Px"></div>				<br />
</td>
			</tr>
			<tr>
				<td colspan="2">
				<h4>Customer support&nbsp;</h4>
				<p><a href="https://www.sparestaff.com.au/help">Visit Help 
				Center</a></p>
				</td>
			</tr>
			<tr>
				<td style="width: 300px">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<br />
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><span style="color: #FF0000">Note to web deveopers:</span><br style="color: #FF0000" />
		<span style="color: #FF0000">Email subject is same as Title of this 
		page.<br />
		Replace Cristiano Ronaldo with full name (first + last name) of 
		employee.<br />
		Replace PosterABC with full name of the Poster.</span></td>
	</tr>
</table>

</body>

</html>
