<% if @employee_listing.verification_back_image.present? %>
  <%= image_tag @employee_listing.verification_back_image.url, class: 'preview-img' %>
<% else %>
  <%= f.file_field :verification_back_image, class: "image-upload" %>
  <label class="image-label"><%= image_tag 'upload-photo-ID.jpg', class: 'upload-img' %></label>
<% end %>
