<tr>
  <td>
    <!--webbot bot="Include" u-include="../includes/header-menu.html" tag="BODY" startspan -->
    <table class="BackgroundOrange HeaderMenu">
      <tr>
        <td style="width: 70px"></td>
        <td style="width: 100px;">
          <a id="Dashboard" class="UserMenuLink" href="../user-dashboard/user-dashboard.html">Dashboard</a>
        </td>
        <td style="width: 70px;">
          <a id="Inbox" class="UserMenuLink" href="../messages/user-inbox.html">Inbox</a>
        </td>
        <td style="width: 110px;"><%= link_to "Your Listings", employee_listings_path, id: "YourListings", class: "UserMenuLink" %></td>
        <td style="width: 110px;">
          <a id="YourHirings" class="UserMenuLink" href="../user-hiring/user-hiring.html">Your Hirings</a>
        </td>
        <td style="width: 80px;">
          <a id="Profile" class="UserMenuLink" href="../user-profile/user-profile-edit-profile.html">Profile</a>
        </td>
        <td style="width: 80px;">
          <a id="Account" class="UserMenuLink" href="../user-account/user-account-notifications.html">Account</a>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <!--webbot bot="Include" endspan i-checksum="9058" -->
  </td>
</tr>
