<div class="sub_navbar">
  <ul class="sub-nav-list">
    <li class="nav-list-item">
      <a id="Dashboard" class="sub-nav-link" href="../user-dashboard/user-dashboard.html">Dashboard</a>
    </li>
    <li class="nav-list-item">
      <a id="Inbox" class="sub-nav-link" href="../messages/user-inbox.html">Inbox</a>
    </li>
    <li class="nav-list-item">
      <%= link_to "Your Listings", employee_index_path, id: "YourListings", class: "sub-nav-link active" %>
    </li>
    <li class="nav-list-item">
      <a id="YourHirings" class="sub-nav-link" href="../user-hiring/user-hiring.html">Your Hirings</a>
    </li>
    <li class="nav-list-item">
      <a id="Profile" class="sub-nav-link" href="../user-profile/user-profile-edit-profile.html">Profile</a>
    </li>
    <li class="nav-list-item">
      <a id="Account" class="sub-nav-link" href="../user-account/user-account-notifications.html">Account</a>
    </li>
  </ul>
</div>