<div class="sub_navbar">
  <ul class="sub-nav-list">
    <li class="nav-list-item">
      <%= link_to "Dashboard", user_dashboard_employee_index_path, id: "Dashboard", class: "sub-nav-link" %>
    </li>
    <li class="nav-list-item">
      <%= link_to "Inbox", message_inbox_employee_index_path, id: "Inbox", class: "sub-nav-link" %>
    </li>
    <li class="nav-list-item">
      <%= link_to "Your Listings", employee_index_path, id: "YourListings", class: "sub-nav-link active" %>
    </li>
    <li class="nav-list-item">
      <%= link_to "Your Hirings", hirings_path, id: "YourListings", class: "sub-nav-link" %>
    </li>
    <li class="nav-list-item">
      <a id="Profile" class="sub-nav-link" href="../user-profile/user-profile-edit-profile.html">Profile</a>
    </li>
    <li class="nav-list-item">
      <a id="Account" class="sub-nav-link" href="../user-account/user-account-notifications.html">Account</a>
    </li>
  </ul>
</div>
