<div class="deactivated-page">
  <label class="deactivate-label">Your listing has been permanently deactivated</label>

  <div>Thank you for your feedback.</div>
   
  <%= link_to "View Your Listings", employee_index_path, class: 'continue-btn' %>

  <div class="edit-form-footer">
    <a class="root-link" href="#">© Spare Staff</a>
  </div>
</div>
