<tr>
  <td>
    <table cellpadding="0">
      <tr>
        <td style="width: 80px">&nbsp;</td>
        <td>
          <table class="ListAnEmployeeSteps">
            <tr>
              <td class="ListAnEmployeeMainWindow">
                <h1 style="padding-top:15px">
                  Let's get started listing your 
                  employee
                </h1>
                <p>
                  Who are you listing?
                </p>
                <table style="width: 500px">
                  <tr>
                    <td style="width: 100px; text-align: center;">
                      <input checked="checked" name="PosterType" type="radio" value="V1" />
                    </td>
                    <td>
                      <table class="GreyBorderNoSize">
                        <tr>
                          <td style="padding:20px;">I am looking for job and I want to list 
                            myself up for companies to find and hire me
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 80px; text-align: center;">
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center">
                      <input name="PosterType" type="radio" value="V1" />
                    </td>
                    <td>
                      <div class="NoteToDeveloper800pxLeft" style="margin:100px 0px 0px -400px;">Note to 
                        developer:<br />
                        Selecting 2nd option then Continue will take to 
                        Step 2.
                        Selecting 1st option then Continue will take to 
                        Step 3.<br />
                      </div>
                      <table class="GreyBorderNoSize">
                        <tr>
                          <td style="padding:20px;">I am representing a 
                            company and listing one of our company’s 
                            employee for sharing
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <br />
                <br />
                <table class="ButtonOrange">
                  <tr>
                    <td><a href="list-an-employee-step-2.html">Continue</a></td>
                  </tr>
                </table>
                <p></p>
              </td>
              <td class="ListAnEmployeeTipWindow">
                <div class="TipBoxForListAnEmployee">
                  <img alt="" src="../images/light-bulb.png"  /><br />
                  As a job seeker, you can list yourself and your 
                  listing will be seen by hundreds of potential 
                  employers.<br />
                  <br />
                  As a company, sharing employees is a great way to 
                  reduce your biggest overhead costs - wages. Your 
                  employee also gets better job security, gains experience, connects with more people.<br />
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
