<div class="new-listing-step_section">
  <div class="inner-listing-section">
    <div class="left-white-side">
      <h1 class="main-heading">You've completed your listing!</h1>

      <div class="who-box">
        <p>Great job finishing up. Your employee listing will be published on the start date that you've selected. If you selected today's date, it will show up in search results immediately.</p>

        <p>You can view your listings in <span><%= link_to "Your Listings", employee_listings_path %></span> page.</p>

        <p>Make sure to keep your employee availability up-to-date for Hirers to find and hire the employee. You can edit your listing, price and settings anytime.</p>
      </div>
    </div>

    <div class="right-grey-side">
      <div class="bulb-box">
        <%= image_tag "light-bulb.png", alt: "", class: 'bulb-img' %><br />
        List once and let our platform do the rest!<br />
        <br />
        Hiring is a serious decision. Simply giving an introduction about the employee won't get you any hiring. Make sure to keep your listings up-to-date, add specific details and optimise it to attract Hirers.
      </div>
    </div>
  </div>
</div>
