
.custom-light-box {
  display: none;
  position: fixed !important;
  z-index: 1 !important;
  padding-top: 60px;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto !important;

  &::-webkit-scrollbar {
    display: none;
  }

  &.custom-light-box {

    .close {
      float: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      opacity: .8;
      position: absolute;
      top: 10px;
      right: 25px;
      cursor: pointer;

      &:hover {
        text-shadow: 0 1px 0 #fff;
      }
    }

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 60%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 2px solid #e4e4e4;
      border-radius: 0.3rem;
      outline: 0;
      margin: 0 auto;
      padding: 0;
      max-width: 100%;
      height: 440px;

      .mySlides {
        display: none;
        height: 326px;
        width: 100%;
        text-align: center;
        float: left;
        background: #484848;

        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }

        .slide-img {
          height: -webkit-fill-available;
          max-width: 100%;
        }
      }

      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          background-color: rgba(0, 0, 0, 0.8);
        }
      }

      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }


      .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
      }

      .small-img-box {
        height: 110px;
        float: left;
        width: 100%;

        .column {
          float: left;
          width: 25%;

          .demo {
            max-width: 100%;
            height: -webkit-fill-available;
            cursor: pointer;
            background: #484848;
          }
          .active,
          .demo:hover {
            opacity: 1;
          }
        }

      }
    }


  }
}