.request_hire-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;

  @media screen and (max-width: 767px) {
    padding: 20px 12px;
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    padding: 30px 10px;
  }
  @media screen and (width: 1024px) {
    padding: 30px 20px;
  }

  .comman-inner-both {
    max-width: 100%;
    width: 1062px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      width: 100%;
      flex-direction: column;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 100%
    }

    .left_request_section {
      width: 522px;
      padding: 5px 0 0;

      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 55%
      }

      .logo-list {
        padding: 0;
        margin: 0px 0 0 -95px;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-start;
        align-items: center;

        @media screen and (max-width: 767px) {
          margin: 0;
          flex-direction: column;
          align-items: flex-start;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          margin: 0;
        }

        .logo-list-item {
          margin-right: 20px;
          font-size: 13px;
          color: #808080;

          @media screen and (max-width: 767px) {
            margin: 5px 0;
            width: 100%;

            &:nth-child(3) {
              display: none;
            }
          }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            margin-right: 15px;
          }

          .logo_img {
            height: 16.34px;
          }

          .item-logo {
            font-size: 13px;
            color: #808080;
            text-decoration: none;

            &.select-item {
              color: #484848;
            }
          }
        }
      }

      .main-heading {
        font-size: 28px;
        font-weight: bold;
        margin: 1em 0;

        @media screen and (max-width: 767px) {
          font-size: 22px;
        }
      }

      .comman-heading {
        font-size: 18px;
        font-weight: bold;
        margin: 1em 0;
        margin-bottom: 5px;

        @media screen and (max-width: 767px) {
          font-size: 17px;
        }
      }

      .italic-text {
        margin-top: 23px;
      }

      .bold-link {
        color: #f15927;
      }

      .com-nor-heading {
        font-size: 18px;
        font-weight: bold;
        margin: 1.33em 0;
      }

      .request-form-box {

        .custom-field-box {
          display: flex;
          flex-direction: column;
        }

        .button-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          margin-top: 0px;
          border-top: none;
          padding-top: 22px;
          padding-bottom: 40px;
          align-items: center;

          .continue-btn {
            margin-top: 0px;
            width: fit-content;
            padding: 0 20px;
          }
        }

        .continue-btn {
          width: 180px;
          height: 40px;
          margin-top: 22px;
          border-radius: 3px;
          background-color: #F15927;
          border: none;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          padding: 0 20px;

          &:hover {
            background-color: #d75227;
          }

          @media screen and (max-width: 767px) {
            float: right;
            margin-top: 0;
            width: 110px;
          }
        }

        .custom-label {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.4;
          margin:0;
          color: #484848;
        }

        .thin-label {
          font-size: 16px;
          color: #484848;
          line-height: 1.4;
          margin: 0;
          display: flex;
          justify-content: space-between;

          .right-cards {
            .img-card {
              height: 25px;
              width: auto;
            }
          }
        }

        .custom-field {
          width: 100%;
          height: 40px;
          border: 1px silver solid;
          padding: 0 5px;
          font-size: 16px;
          color: #484848;
          line-height: 1.4;

          &.half-field {
            width: 50%;

            @media screen and (max-width: 767px) {
              width: 100%;
            }
          }

          & + .error {
            margin: 4px 0 0;
            color: #ff0000;
            font-size: 14px;
          }
        }

        .joint-group {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &.mobile-joint-group {
            @media screen and (max-width: 767px) {
              flex-direction: column;

              .custom-input-group {
                width: 100%;
              }
            }
          }

          .custom-input-group {
            width: 50%;

            @media screen and (max-width: 767px) {
              width: 48%;
            }

            & + .custom-input-group {
              padding-left: 20px;

              @media screen and (max-width: 767px) {
                padding: 0;
              }
            }
          }
        }

        .custom-input-group {
          margin: 16px 0;
          line-height: 1.4;
          display: flex;
          flex-direction: column;
          margin-bottom: 0;
          width: 100%;

          @media screen and (max-width: 767px) {
            margin-bottom: 15px;
          }

          .inner-input-group {
            display: flex;
            flex-direction: row;
            width: 50%;
            justify-content: space-between;
            align-items: center;

            .first {
              display: flex;
              width: 50%;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;

              .input-checked {
                margin: 3px 12px 0px 5px;
              }
            }

            .last {
              display: flex;
              width: 50%;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;

              .input-checked {
                margin: 3px 12px 0px 5px;
              }
            }
          }

        }

        .paypal_box {
          margin-top: 23px;
          border-top: 1px solid #c0c0c0;
          padding-top: 30px;

          .button-box {
            padding: 0;
          }
        }
      }
    }

    .right_request_section {
      width: 500px;
      border: 1px solid #C0C0C0;
      font-size: 11pt;
      padding: 20px;
      height: fit-content;
      margin-bottom: 40px;

      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 10px;
      }

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 10px;
        width: 43%;
      }

      .user-right-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid #c0c0c0;
        align-items: center;

        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
        &.joint-box {
          flex-direction: column;
          width: 100%;

          .inner-joint {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
          }

          .devider {
            border-top: 1px solid #c0c0c0;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 5px 0 0;
            justify-content: space-between;
            margin-top: 5px;

            .full-row {
              display: flex;
              justify-content: space-between;
              margin-bottom: 6px;

              .p-text {
                font-size: 11pt;
              }
            }
          }
        }
        &.bottom-joint-box {
          flex-direction: column;
          width: 100%;
          justify-content: flex-start;
          align-items: flex-start;
          border-bottom: none;
          padding-bottom: 0;

          .more-box {
            margin-top: 20px;

            .blank-link {
              color: #f15927;
              text-decoration: none;
              font-size: 11pt;
            }
          }
        }

        .name-box {
          display: flex;
          flex-direction: column;
          width: calc(100% - 100px);
          padding-right: 15px;

          .Text22px {
            font-size: 22px;
            display: inline-block;
            padding-bottom: 10px;

            @media screen and (max-width: 767px) {
              font-size: 18px;
            }
          }
        }

        .image-box {
          width: 100px;

          .Image100pxRight {
            width: 100px;
            height: 100px;
            object-fit: cover;
          }
        }

        .left {
          text-align: left;
        }
        .right {
          text-align: right;
        }
      }
    }
  }

  .sub-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    border-top: 1px solid #C0C0C0;
    padding: 18px 0;
    width: 1062px;

    @media screen and (max-width: 1024px) {
      width: 100%;
      margin: 0;
    }

    .left-sub {
      .spare-link {
        color: #484848;
        text-decoration: none;
        line-height: 1.4;
        font-size: 13px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .right-sub {
      .sub-list-link {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;

        .sub-list-item {
          margin-right: 10px;

          .sub-custom-link {
            color: #484848;
            text-decoration: none;
            line-height: 1.4;
            font-size: 13px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}