//** USER PROFILE CSS **//

.employee_listings_section {
  padding: 22px 80px;

  @media screen and (max-width: 767px) {
    padding: 10px 12px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 20px 25px;
  }

  .inner-listings-section {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    .left-panel {
      display: flex;
      flex-direction: column;
      width: 180px;
      margin-right: 40px;

      @media screen and (max-width: 767px) {
        width: 100%;
        margin: 0 0 20px;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 20%;
        margin-right: 12px;
      }

      .panel-list {
        padding: 0;
        margin: 0;
        list-style: none;

        .panel-item {
          padding-bottom: 10px;

          .panel-link {
            color: #767676;
            font-size: 16px;

            &:hover {
              color: #bbbbbb;
              text-decoration: none;
            }

            &.selected-panel {
              font-weight: bold;
              color: #484848;

              &:hover {
                color: #484848;
              }
            }
          }

          .listing-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            border-radius: 3px;
            background-color: #f15928;
            color: #fff;
            margin-top: 64px;

            &:hover {
              background-color: #d75227;
              box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
              text-decoration: none;
            }
            @media screen and (max-width: 767px) {
              margin-top: 10px;
            }
          }
        }
      }
    }

    .right-panel {
      display: flex;
      flex-direction: column;
      width: 780px;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 80%;
      }

      .right-panel-header {
        font-size: 13pt;
        font-weight: normal;
        background-color: #f2f2f2;
        padding: 10px 15px 10px 15px;
        border-bottom: 1px solid #dce0e0;
        height: 45px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .listed-box {
        border: 1px solid #dce0e0;
        margin-bottom: 20px;

        .error_message {
          font-size: 14px;
          vertical-align: top;
          margin: 10px 0;
          color: #767676;
        }

        .listing-card-box {
          padding: 20px 45px 20px 15px;
          display: flex;
          flex-direction: column;

          @media screen and (max-width: 767px) {
            padding: 20px 5px 20px 5px;
          }

          .custom-field-box {
            display: flex;
            flex-direction: column;

            .custom-input-group {
              margin: 10px 0;
              line-height: 1.4;
              display: flex;
              flex-direction: row;
              width: 100%;

              .error_field_box {
                display: flex;
                flex-direction: column;
                width: calc(100% - 200px);

                .custom-field {
                  width: 100%;
                }
              }

              .custom-label {
                font-size: 16px;
                font-weight: normal;
                line-height: 1.4;
                margin: 0;
                color: #484848;
                width: 210px;
                padding: 0 10px 0 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 40px;
                text-transform: capitalize;
                text-align: right;
              }

              .custom-field {
                width: calc(100% - 200px);
                height: 40px;
                border: 1px solid #c0c0c0;
                padding-left: 5px;
                font-size: 16px;
                color: #484848;
                line-height: 1.4;

                &.half_text_field {
                  width: 200px;
                }
              }

              .custom_text_area {
                border: 1px solid #c0c0c0;
                font-size: 12pt;
                color: #484848;
                padding: 10px;
                width: 100%;
              }
            }
          }
        }
      }

      .continue_btn {
        width: fit-content;
        height: 40px;
        margin-top: 22px;
        border-radius: 3px;
        background-color: #F15927;
        border: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 29px;

        &:hover {
          background-color: #d75227;
        }
      }

    }
  }
}

//** USER PROFILE END CSS **//