<table style="margin-left:80px;width: 100%">
  <tr>
    <td>&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td>
      <% if Rails.env == "staging" %>
        <%= image_tag "https://staging.sparestaff.com.au/assets/Spare-Staff-130x130.png", width: "60", height: "60", alt: "" %>
      <% else %>
        <%= image_tag "https://sparestaff.com.au/assets/Spare-Staff-130x130.png", width: "60", height: "60", alt: "" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <br />
      Hi <%= @email %>,<br />
      &nbsp;<br />
      Welcome to Spare Staff! In order to get started, you need to confirm your email address. <br />
      <br />
      <table style="width: 180px; height: 50px; background-color: #F15927">
        <tr>
          <td style="text-align: center">
            <%= link_to 'Confirm Email', confirmation_url(@resource, confirmation_token: @token), style: "font-size:12pt; color:white;" %>
            <!-- <a class="WhiteLink12pt" href="welcome-email.html">Confirm Email</a> -->
          </td>
        </tr>
      </table>
      <br />
      <br />
      Thanks,<br />
      <br />
      The Spare Staff Team <br />
    </td>
  </tr>
</table>
