<table style="margin-left:80px;width: 100%">
  <tr>
    <td>&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td>
      <% if Rails.env == "staging" %>
        <%= image_tag "https://staging.sparestaff.com.au/assets/Spare-Staff-130x130.png", width: "60", height: "60", alt: "" %>
      <% else %>
        <%= image_tag "https://sparestaff.com.au/assets/Spare-Staff-130x130.png", width: "60", height: "60", alt: "" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <br />
      Hi <%= @email %>,<br />
      &nbsp;<br />
      Someone has requested a link to change your password. You can do this through the link below. <br />
      <br />
      <table style="width: 180px; height: 50px; background-color: #F15927">
        <tr>
          <td style="text-align: center">
            <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: "font-size:12pt; color:white;" %>
          </td>
        </tr>
      </table>
      &nbsp;<br />
      If you didn't request this, please ignore this email.<br />
      &nbsp;<br />
      Your password won't change until you access the link above and create a new one.<br />
      <br />
      <br />
      Thanks,<br />
      <br />
      The Spare Staff Team <br />
    </td>
  </tr>
</table>
