<div class="paypal_box">
  <p>Securely connect to PayPal to finish adding your payment method. You will not be charged yet. You will have a chance to review the payment after logging into PayPal. </p>

  <div class="button-box">
    <%= link_to 'Login to PayPal', '#', class: 'continue-btn' %>
  </div>
</div>