<ul class="logo-list">
  <li class="logo-list-item">
    <%= link_to '' do %>
      <%= image_tag 'logo.png', class: 'logo_img' %>
    <% end %>
  </li>
  <li class="logo-list-item">
    <%= link_to '1. Review hire details', '#', class: 'item-logo select-item' %>
  </li>
  <li class="logo-list-item">
    >
  </li>
  <li class="logo-list-item">
    <%= link_to '2. Confirm and pay', '#', class: 'item-logo' %>
  </li>
</ul>
