<tr>
  <td>
    <!--webbot bot="Include" u-include="includes/header-not-signed-in.html" tag="BODY" startspan -->
    <%= render partial: "layouts/header_without_login" %>
    <%= render partial: "layouts/signup_button_popup" %>
    <%= render partial: "layouts/login_popup" %>
    <%= render partial: "layouts/signup_popup" %>
    <!--webbot bot="Include" endspan i-checksum="33621" -->
  </td>
</tr>
