<div class="divTable OrderBox">
  <div class="divTableCell Padding20Px FloatLeft">
    <span class="GreyText18PxStrongPaddingBottom10px">HirerDEF requested to hire Cristiano
    Ronaldo</span>
    <br>
    Respond promptly to maintain your response rate. You
    can confirm their hiring request by accepting their
    request. Send messages if you have any further
    questions.<br>
    <br>
    <table style="width: 380px">
      <tbody>
        <tr>
          <td>
            <table class="ButtonOrange FloatLeft">
              <tbody>
                <tr>
                  <td>
                    <a href="#" data-popup-open="accept-reservation-popup">Accept</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table class="ButtonDarkGrey180px FloatRight">
              <tbody>
                <tr>
                  <td>
                    <a href="#" data-popup-open="decline-reservation-step-1-popup">Decline</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="popup" data-popup="accept-reservation-popup">
      <div class="popup-inner" style="text-align:left">
        <span class="Text22px">Accept this request</span>
        <br>
        <br>
        Type optional message to
        Hirer<br>
        <textarea cols="20" name="TextArea1" rows="7" class="FullWidthBorderBox"></textarea>
        <br>
        <br>
        <span class="Text14px">
        <input name="Checkbox1" type="checkbox" class="VerticalAlignMiddle">
        By checking this box, I agree to
        the <a href="#" class="SmallLink">Hirer Refund
        Policy Terms</a>, and
        <a href="#" class="SmallLink">Terms of Service</a>.</span><br>
        <br>
        <table class="GreyLine1Px" cellpadding="0">
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
        <br>
        <table style="width: 200px" class="FloatRight">
          <tbody>
            <tr>
              <td>
                <table class="ButtonOrange90px FloatLeft">
                  <tbody>
                    <tr>
                      <td>
                        <a href="user-accepted-reservations-send-message.html">Accept</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table class="ButtonDarkGrey90pxHeight40px FloatRight">
                  <tbody>
                    <tr>
                      <td>
                        <a href="#" data-popup-close="accept-reservation-popup">Close</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="popup" data-popup="decline-reservation-step-1-popup">
      <div class="popup-inner" style="text-align:left">
        <span class="Text22px">Decline this request</span>
        <br>
        <br>
        Type optional message to
        Hirer<br>
        <textarea cols="20" name="TextArea2" rows="7" class="FullWidthBorderBox"></textarea>
        <br>
        <br>
        Why are you declining this
        request? (required)<br>
        <select name="Select1" class="FullWidth">
          <option selected="selected">Please select a reason
          </option>
          <option>My listing doesn't fit the Hirer's needs
          </option>
          <option>I want a reservation with a different price, contract length, or start date
          </option>
          <option>I'm uncomfortable with this reservation
          </option>
        </select>
        <br>
        <br>
        <table class="GreyLine1Px" cellpadding="0">
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
        <br>
        <table style="width: 200px" class="FloatRight">
          <tbody>
            <tr>
              <td>
                <table class="ButtonOrange90px FloatLeft">
                  <tbody>
                    <tr>
                      <td>
                        <a href="#" data-popup-close="decline-reservation-step-1-popup" data-popup-open="decline-reservation-step-2-popup">Next</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table class="ButtonDarkGrey90pxHeight40px FloatRight">
                  <tbody>
                    <tr>
                      <td>
                        <a href="#" data-popup-close="decline-reservation-step-1-popup">Close</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="popup" data-popup="decline-reservation-step-2-popup">
      <div class="popup-inner" style="text-align:left">
        <span class="Text22px">Please share with us why you decline</span>
        <br>
        <br>
        More details can help us improve your experience. This information won't be shared with the Hirer. (Required).<br>
        <textarea cols="20" name="TextArea2" rows="7" class="FullWidthBorderBox"></textarea>
        <br>
        <br>
        <table class="GreyLine1Px" cellpadding="0">
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
        <br>
        <table style="width: 250px" class="FloatRight">
          <tbody>
            <tr>
              <td>
                <table class="ButtonOrange140px FloatLeft">
                  <tbody>
                    <tr>
                      <td>
                        <a href="user-declined-reservations-send-message.html">Decline now</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table class="ButtonDarkGrey90pxHeight40px FloatRight">
                  <tbody>
                    <tr>
                      <td>
                        <a href="#" data-popup-close="decline-reservation-step-2-popup" data-popup-open="decline-reservation-step-1-popup">Back</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>