<div class="reservation-order-box declined-box">
  <div class="sub-title18"><b>Hiring confirmed. Cristiano Ronaldo starts work on Mon, 12th Feb 2019!</b></div>
  <br>
  <div>
    <div>HirerDEF is available to answer any questions about the hiring.</div>
    <br>
    <div class="btn-box">
      <%= link_to "Change or Cancel", "javascript:;", class: "modal-white-btn" %>
    </div>
  </div>
</div>