<div class="modal custom-modal" id="decline-reservation-step-1-popup">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><%#= image_tag "cross.jpg", class: 'close-img' %></button>
      </div> -->

      <div class="modal-body">
        <div class="custom-modal-inner">
          <div class="title-modal">Decline this request</div>

          <form class="form-modal">
            <label class="label-modal">Type optional message to Hirer</label>
            <textarea cols="20" name="TextArea1" rows="7" class="modal-textarea"></textarea>

            <div class="select-box">
              <label class="label-modal">Why are you declining this request? (required)</label>
              <select name="Select1" class="FullWidth">
                <option selected="selected">Please select a reason
                </option>
                <option>My listing doesn't fit the Hirer's needs
                </option>
                <option>I want a reservation with a different price, contract length, or start date
                </option>
                <option>I'm uncomfortable with this reservation
                </option>
              </select>
            </div>

            <div class="Text14px">
              <input name="Checkbox1" type="checkbox" class="VerticalAlignMiddle">
              By checking this box, I agree to
              the <span><%= link_to 'Hirer Refund Policy Terms', '#', class: 'orange-text Text14px' %></span>, and
              <span><%= link_to 'Terms of Service', '#', class: 'Text14px orange-text' %></span>.
            </div>

            <div class="modal-btn-box" >
              <%= link_to 'Accept', 'javascript:;', class: 'modal-orange-btn', data: { toggle: "modal", target: "#decline-reservation-step-2-popup", dismiss: "modal"} %>
              <%= link_to 'Close', 'javascript:;', class: 'modal-white-btn', data: { dismiss: "modal" } %>

              <%#= button_tag 'javascript:;', class: "cust_btn", data: {toggle: "modal", target: "#signupModal", dismiss: "modal" } do %>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
