<div class="reservation-order-box declined-box">
  <div class="sub-title18"><b>Reservation declined</b></div>
  <br>
  <div>
    <div>We have settings to give you more control over the reservations you get:</div>
    <br />
    <ul style="list-style-type:disc;">
      <li>Let Hirers know what your expectations are
      with expected hourly rate and minimum employment
      term.</li>
      <li>Keep your availability up-to-date by
      updating listing publishing dates and your
      employee timetable.</li>
    </ul>
  </div>
</div>