<div class="reservation-order-box declined-box">
  <div class="sub-title18"><b>The Poster was unable to accept your hiring request.</b></div>
  <br>
  <div>
    <div>You were not charge for your request. To make sure you can find an employee fulfill your tasks, let's find you another employee. </div>
    <br />
    <div class="btn-box">
      <%= link_to "Browse Employee", root_path, class: "modal-orange-btn" %>
    </div>
  </div>
</div>