<div class="message-chat-block__box right_user_direction">
  <div class="message__conversation">
    If that’s all good then please tell Ronaldo to get ready to work on the 14th Feb.
    <div class="message-chat-date grey-text">
      14 Feb 2019 at 13:13
    </div>
  </div>
  <div class="message-user-box">
    <%= image_tag 'alex-profile.jpg', class: 'message-user-box__img' %>
  </div>
</div>
<div class="gray-mid-text-block">
  <div class="gray-line"></div>
  <div class="mid-text">HIRING CONFIRMED 12 FEB 2019</div>
  <div class="gray-line"></div>
</div>
<div class="message-chat-block__box left_user_direction">
  <div class="message__conversation">
    If that’s all good then please tell Ronaldo to get ready to work on the 14th Feb.
    <div class="message-chat-date grey-text">
      14 Feb 2019 at 13:13
    </div>
  </div>
  <div class="message-user-box">
    <%= image_tag 'zidane-profile.jpg', class: 'message-user-box__img' %>
  </div>
</div>